*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#08111f;
color:white;
overflow:hidden;

}

/* Screens */

.screen{

display:none;
height:100vh;
width:100%;
justify-content:center;
align-items:center;
padding:20px;

}

.active{

display:flex;

}

/* Splash */

#splashScreen{

background:linear-gradient(135deg,#000000,#002b80,#00a651);

flex-direction:column;

}

.logoBox{

text-align:center;

}

.logoBox h1{

font-size:55px;
letter-spacing:3px;
animation:logo 2s infinite;

}

.logoBox p{

margin-top:15px;
opacity:.8;

}

@keyframes logo{

50%{

transform:scale(1.08);

}

}

.loader{

width:260px;
height:8px;
background:#333;
border-radius:50px;
overflow:hidden;
margin-top:35px;

}

.loaderFill{

width:0%;
height:100%;
background:#00ff99;
animation:loading 2s linear forwards;

}

@keyframes loading{

100%{

width:100%;

}

}

/* Card */

.card{

width:100%;
max-width:420px;
background:white;
color:black;
padding:30px;
border-radius:22px;
box-shadow:0 15px 40px rgba(0,0,0,.4);

}

.card h2{

margin-bottom:10px;

}

.card p{

margin-bottom:20px;
color:#666;

}

/* Inputs */

input,
select{

width:100%;
padding:14px;
margin-top:12px;
border-radius:10px;
border:1px solid #ccc;
font-size:15px;
outline:none;

}

input:focus,
select:focus{

border:2px solid #00a651;

}

/* Buttons */

button{

width:100%;
padding:15px;
margin-top:18px;
border:none;
border-radius:10px;
background:#00a651;
color:white;
font-size:16px;
font-weight:bold;
cursor:pointer;
transition:.3s;

}

button:hover{

background:#008e45;
transform:scale(1.02);

}

button:active{

transform:scale(.98);

}

/* Mobile */

@media(max-width:480px){

.logoBox h1{

font-size:42px;

}

.card{

padding:20px;

}

}
